@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Localization

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IStringLocalizer<lang> lang
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Lotus Kitap</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/style.css" type="text/css">

    @* <link rel="stylesheet" href="~/css/site.css" />*@
    <link href="~/Navbar/NavbarStyle.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-custom navbar-mainbg">
            <a class="navbar-brand navbar-logo"> <img class="img-responsive2" src="~/Navbar/lotus.png" style="  width: 60px;"><i style="color:aliceblue">  Lotus Kitap</i></a>
            <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars text-white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    @*<div class="hori-selector"><div class="left"></div><div class="right"></div></div>*@
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Categories" asp-action="Index">Kategori</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Publishers" asp-action="Index">Yayınevi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Authors" asp-action="Index">Yazar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Books" asp-action="Index">Kitap</a>
                    </li>
                    @*@if (User.IsInRole("Admin"))
        {*@
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            AdminPaneli
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Categories" asp-action="Index">Kategoriler</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Books" asp-action="Index">Kitaplar</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Authors" asp-action="Index">Yazarlar</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Publishers" asp-action="Index">Yayınevleri</a>
   

                   @* <div class="dropdown-divider"></div>*@

</div>
                    </li>
                    @*@}@*@
</div>
                    @*<li>
                        <a>Admin</a>
                        <ul class="dropdown">
                            <li><a asp-area="Admin" asp-controller="Categories" asp-action="Index">Kategoriler</a></li>
                            <li><a asp-area="Admin" asp-controller="Books" asp-action="Index">Kitaplar</a></li>
                            <li><a asp-area="Admin" asp-controller="Authors" asp-action="Index">Yazarlar</a></li>
                            <li><a asp-area="Admin" asp-controller="Publishers" asp-action="Index">Yayınevleri</a></li>
                        </ul>
                    </li>*@
                    <div class="header__top__right__language">
                        <span class="arrow_carrot-down"></span>
                        <ul>
                            <li><a href="#">Spanis</a></li>
                            <li><a href="#">English</a></li>
                        </ul>
                    </div>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </nav>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Kitap</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Kategori</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Publishers" asp-action="Index">Yayınevi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index">Kitap</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Authors" asp-action="Index">Yazar</a>
                            </li>
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>*@
    </header>

    @if (SignInManager.IsSignedIn(User))
    {
        <div class="header__top__right__auth">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hoş geldiniz, @User.Identity.Name!</a>
        </div>
        @*<div class="header__top__right__auth">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Çıkış</button>
                </form>
            </div>*@
    }
    else
    {
        @*<div class="header__top__right__auth">
                <a asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-bell"></i> ggfgKaydol</a>
            </div>
            <div class="header__top__right__auth">
                <a asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-user"></i> Giriş Yap</a>
            </div>*@
    }
    @if (User.IsInRole("Kullanici") || User.IsInRole("Admin"))
    {
        @*<li>
                <a>Müsteri</a>
                <ul class="header__menu__dropdown">
                    <li><a asp-area="Kullanici" asp-controller="Sepet" asp-action="Index">Alışveriş Sepeti</a></li>
                    <li><a asp-area="Kullanici" asp-controller="Sepet" asp-action="Index">Sipariş Takibi</a></li>
                    <li><a asp-area="Kullanici" asp-controller="Sepet" asp-action="Index">Kullanıcı Bilgileri</a></li>
                </ul>
            </li>*@
    }

    @if (User.IsInRole("Admin"))
    {
        <li>
            <a>Admin</a>
            <ul class="header__menu__dropdown">
                <li><a asp-area="Admin" asp-controller="Categories" asp-action="Index">Kategoriler</a></li>
                <li><a asp-area="Admin" asp-controller="Books" asp-action="Index">Kitaplar</a></li>
            </ul>
        </li>
    }


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - KitapProjesi - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*  <script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="~/Navbar/NavbarJs.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
