@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/Sidebar/sidebar.css" rel="stylesheet" />

<body>
<div class="sidebar-container">
    <div class="sidebar-logo">
        Admin Panel
    </div>
    <ul class="sidebar-navigation">
        <li>
            <a href="/Home/Index">
                Ana Sayfa
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Books" asp-action="Index">
               Kitap
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Categories" asp-action="Index">
               Kategori
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Publishers" asp-action="Index">
                Yayınevi
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Authors" asp-action="Index">
                 Yazar
            </a>
        </li>
    </ul>
</div>

<div class="content-container">

    <div class="container-fluid">

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    </div>
</div>

@RenderSection("scripts", required: false)
</body>


<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>