
@{
    ViewData["Title"] = "Yazarlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="card-group" style="margin-top:10px;">
        <div class="card">
            <a asp-area="" asp-controller="ListAuthors" asp-action="ListAuthor"><img style="width: 100%; height: 25vw; object-fit: cover; " class="card-img-top" src="~/AuthorPhoto/ahmethamditanpınar.jpg"></a>
            <div class="card-body">
                <h5 class="card-title">Ahmet Hamdi Tanpınar</h5>
            </div>
        </div>
        <div class="card">
            <a asp-area="" asp-controller="ListAuthors" asp-action="ListAuthor"><img style="width: 100%; height: 25vw; object-fit: cover;" class="card-img-top" src="~/AuthorPhoto/aldoushuxley.jpg"></a>
            <div class="card-body">
                <h5 class="card-title">Aldous Huxley</h5>
            </div>
        </div>
        <div class="card">
            <a asp-area="" asp-controller="ListAuthors" asp-action="ListAuthor"><img style="width: 100%; height: 25vw; object-fit: cover;" class="card-img-top" src="~/AuthorPhoto/charlesdickens.jpg"></a>
            <div class="card-body">
                <h5 class="card-title">Charles Dickens</h5>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card">
            <a asp-area="" asp-controller="ListAuthors" asp-action="ListAuthor"><img style="width: 100%; height: 25vw; object-fit: cover;" class="card-img-top" src="~/AuthorPhoto/charlottebronte.jpg"></a>
            <div class="card-body">
                <h5 class="card-title">Charlotte Bronte</h5>
            </div>
        </div>
        <div class="card">
            <a asp-area="" asp-controller="ListAuthors" asp-action="ListAuthor"><img style="width: 100%; height: 25vw; object-fit: cover;" class="card-img-top" src="~/AuthorPhoto/emilybronte.jpg"></a>
            <div class="card-body">
                <h5 class="card-title">Emily Bronte</h5>
            </div>
        </div>
        <div class="card">
            <a asp-area="" asp-controller="ListAuthors" asp-action="ListAuthor"><img style="width: 100%; height: 25vw; object-fit: cover;" class="card-img-top" src="~/AuthorPhoto/irvinyalom.jpg"></a>
            <div class="card-body">
                <h5 class="card-title">İrvin D. Yalom</h5>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card">
            <a asp-area="" asp-controller="ListAuthors" asp-action="ListAuthor"><img style="width: 100%; height: 25vw; object-fit: cover;" class="card-img-top" src="~/AuthorPhoto/johnsteinbeck.jpg"></a>
            <div class="card-body">
                <h5 class="card-title">John Steinbeck</h5>
            </div>
        </div>
        <div class="card">
            <a asp-area="" asp-controller="ListAuthors" asp-action="ListAuthor"><img style="width: 100%; height: 25vw; object-fit: cover;" class="card-img-top" src="~/AuthorPhoto/paulocoelho.jpg"></a>
            <div class="card-body">
                <h5 class="card-title">Paulo Coelho</h5>
            </div>
        </div>
        <div class="card">
            <a asp-area="" asp-controller="ListAuthors" asp-action="ListAuthor"><img style="width: 100%; height: 25vw; object-fit: cover;" class="card-img-top" src="~/AuthorPhoto/özdemirasaf.jpg"></a>
            <div class="card-body">
                <h5 class="card-title">Özdemir Asaf</h5>
            </div>
        </div>
    </div>
</div>

