@model WebBookProject.Models.Author

@{
    ViewData["Title"] = "Yazar Ekle";
}

<h1>Yazar Ekle</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AuthorName" class="control-label">Yazar Adı</label>
                <input asp-for="AuthorName" class="form-control" />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorLastname" class="control-label">Yazar Soyadı</label>
                <input asp-for="AuthorLastname" class="form-control" />
                <span asp-validation-for="AuthorLastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Biography" class="control-label">Biyografi</label>
                <input asp-for="Biography" class="form-control" />
                <span asp-validation-for="Biography" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-action="Index">Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
