@model WebBookProject.Models.Category

@{
    ViewData["Title"] = "Kategori Detayları";
}

<h1>Kategori Detayları</h1>

<div>
 
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CategoryId">Düzenle</a> |
    <a class="btn btn-info" asp-action="Index">Geri Dön</a>
</div>
