@model IEnumerable<WebBookProject.Models.Category>

@{
    ViewData["Title"] = "Kategori";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}
<p>
    <a class="btn btn-primary" style="color:white" asp-area="Admin" asp-controller="Categories" asp-action="Create">Kategori Ekle</a>
</p>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                   Kategori
                </th>
                <th>
                    Güncelle
                </th>
                <th>
                    Detaylar
                </th>
                <th>
                    Sil
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        <a class="btn btn-success" style="color:white" asp-action="Edit" asp-route-id="@item.CategoryId">Düzenle</a>
                    </td>
                    <td>
                        <a class="btn btn-dark" style="color:white" asp-action="Details" asp-route-id="@item.CategoryId">Detaylar</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" style="color:white" asp-action="Delete" asp-route-id="@item.CategoryId">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
