@model IEnumerable<WebBookProject.Models.Publisher>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";

}

<h1>Yayınevleri</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Yayınevi Adı
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PublisherName)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.PublisherId">Düzenle</a>
                </td>
                <td>
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.PublisherId">Detaylar</a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PublisherId">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a class="btn btn-primary" asp-action="Create">Yayınevi Ekle</a>
</p>