@page
@model RegisterModel
@{
    ViewData["Title"] = "Kaydol";
}


<head>
    <link href="~/Login/css/style.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <!-- Sign up form -->
    <section class="signup">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Kaydol</h2>
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input asp-for="Input.Name" class="form-control" id="name" placeholder="İsim" />
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Surname"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input asp-for="Input.Surname" class="form-control"id="name" placeholder="Soyisim" />
                        <span asp-validation-for="Input.Surname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Email"><i class="zmdi zmdi-email"></i></label>
                        <input asp-for="Input.Email" class="form-control" placeholder="Email" id="email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"><i class="zmdi zmdi-lock"></i></label>
                        <input asp-for="Input.Password" class="form-control" placeholder="Şifre" id="pass" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" class="form-control" placeholder="Şifrenizi yeniden giriniz" id="re_pass" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn-primary">Register</button>

                </form>
            </div>
            <div class="signup-image">
                <figure>
                    <img src="~/Login/images/signupimage.jpg" />
                </figure>
                <a href="\Areas\Identity\Pages\Account\Login.cshtml" class="signup-image-link">I am already member</a>
            </div>
        </div>
    </section>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
